
body {
    background-color: #212121;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    color: #e8e8e8;
    margin: 0;
    padding: 0;
}

div.card.col-4 {
    background-image: url("/php_poo/TP/assets/pictures/bagarre.webp");
    object-fit: cover;
    background-size: cover;
    background-repeat : no-repeat;
    background-position: center;
    color : black;
}